
.list li{
	list-style: none;
	text-decoration: none;
	color: #1874cd;
	clear: both;
	font-weight: bolder;
}

.list{
	margin-left: 0px;
	text-align: center;
	font-style: italic;
	padding-top: 30px;
}


button{
	background: #1874cd;
	padding: 4px;
	color: white;
	font-weight: bold;
	border-color: black;
	border: thin;
}

button:hover{
	color: black;
}

h1{
	text-decoration: underline;
	color: #1874cd;
	clear: both;
	font-weight: bolder;
	text-align: center;
	padding-top: 60px;
}

body{
	background-color: yellow;
}

